# MySQL Connection Details (From Hosting Lotus)
MYSQL_HOST=119.59.96.92
MYSQL_USER=schoolos
MYSQL_PASSWORD=
MYSQL_DATABASE=schoolos_schoolos
MYSQL_PORT=3306

# Supabase Details (For Migration)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Google Apps Script Bridge Secret (Define your own secret key here)
GAS_SECRET_KEY=
